body{
    background-image:url("asset/Background_Image.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:auto;
    width: 80%;
    height: 95vh;
    background-color: rgba(240, 255, 255, 0.25);
    margin-top: 2.5vh;
}

h2{
    font-size: 60px;
    font-family:'fantasy', 'papyrus';
}

label{
    font-size: 25px;
}

input{
    background-color:rgba(240, 255, 255, 0.25);
    font-size: 20px;
    margin-top: 5px;
}
button{
    background-color: rgba(68, 4, 4, 0.7);
    border: none;
    color: aliceblue;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'cursive', 'lucida handwriting';
    border-radius: 5px;
}

.res {
    max-height: 30vh;
    overflow: auto;
    padding: 1em;
    font-size: 20px;
    white-space: pre-wrap; 
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 80%;
    padding: 1em;
}
